.skribbl{
    margin-top: 7vh;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #000;
    transition: 0.3s;
}
.boards{
    color: white;
}
.skribbl input{
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background: #fff;
    color: #000;
    box-shadow: 0 0 0.5rem #000;
    transition: 0.3s;
}
.sbox{
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background: #fff;
    color: #000;
    box-shadow: 0 0 0.5rem #000;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.sbox .word{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem #000;
    transition: 0.3s;
    cursor: pointer;
}
.word:active{
    background: #803232;
    color: #000;
}